.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px;
    margin: 100px 170px;
}
.about-section {
    display: flex;
    gap: 40px;
}
.about-leftt .img {
    position: absolute;
}
.about-right {
    margin-top: -10px;
    display: flex;
    flex-direction: column;
}
.about-skills {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
    width: min-content;
}
.about-right h1 {
    font-size: 20px;
    color: rgb(108, 238, 255);
    font-weight:600;
    margin-top: -20px;
    margin-bottom: 10px;
}

.about-achivements {
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-bottom: 80px;
}
.about-achivement {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    transition: 0.5s
}
.about-achivement h1{
    font-size: 40px;
    font-weight: 600;
    color: rgb(108, 238, 255);
}
.about-achivements hr {
    width: 1px;
    height: 100px;
    background-color: rgb(0, 147, 192);
}
.about-skill {
    padding: 10px;
    width: max-content;
    background-color: rgb(34, 34, 34);
    border-radius: 20px;
    box-shadow: 0px 4px 6px rgb(88, 88, 88);
}
.about-skill img {
    width: 50px;
    height: 50px;
}
.about-skill:hover {
    scale: 1.1;
    transition:  ease-in-out 0.5s;
}
