.scroll-reveal {
  margin: 20px 0;
}

.scroll-reveal-text {
    font-size: 20px;
    font-weight: 500;
}

.word {
  display: inline-block;
}
@media only screen and (max-width: 900px) { 
  .pixel-card {
  height: 370px;
  width: 270px;
  }
}