.experiences {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.experience {
    width: 80%;
    display: flex;
    flex-direction: column;
}
.experience-item {
    margin-bottom: 40px;
    justify-content: center;
    display: flex;
    align-items: center;
    border-radius: 20px;
    box-shadow: 0 10px 5px rgb(33, 33, 33);
    background-color: rgb(39, 39, 39);
    padding: 10px 5px;
}
.teks {
    width: 35%;
}
.teks h1 {
    font-size: 40px;
    font-weight: 600;
}
.experience-item img {
    width: 50%;
}
@media only screen and (max-width: 900px) {
    .experience-item {
        flex-direction: column;
        padding:  20px 15px;
    }
    .experience-item img {
        width: 100%;
    }
    .teks {
    font-size: 20px;
    font-weight: 600;
    align-items: center;
    width: 80%;
    }
    .teks p {
        font-size: 20px;
    }
}